.HomePage {
    &--logo {
        width: 100%;
        max-width: 980px;
        object-fit: contain;
    }

    &--title {
        text-align: center;
        font-size: 40px;
        margin: 0;
    }
}
