@import '../../styles/variables';

.Header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: $padding-base;
	width: 100%;

	&--left {

		&__logo {
			height: 50px;
		}
	}

	&--nav {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		&__link {
			margin: 0 10px;
			color: $white;
			text-transform: uppercase;
			font-weight: bold;
		}
	}
}